a {
	
	font-family: Arial, Helvetica, sans-serif;
	
}
p1 {
	position:absolute;
	left:190px;
	top:550px;
	font-family: Arial, Helvetica, sans-serif;
	
}

div {
	position:absolute;
	left:100px;
	top:300px;
}


label {
	width: 110px;
	display: inline-block;
	vertical-align: top;
	margin: 6px;
	font-family: Arial, Helvetica, sans-serif;
}
input {
	width: 200px;
}

input[type=submit] {
	width: 100px;
	padding: 5px;
	color: mediumvioletred;
	
}
select {
  width: 265px;
